.destination {
    // background: url('/src/assets/destination/background-destination-desktop.jpg') no-repeat;
    // object-fit: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    @include backGround(url("/src/assets/destination/background-destination-desktop.jpg"), cover);
}




// @media (max-width: 820px) {
//     .destination {
//         @include backGround(url("/src/assets/destination/background-destination-tablet.jpg"), cover);
//     }
    
// }
// @media (max-width: 4800px) {
//     .destination {
//         @include backGround(url("/src/assets/destination/background-destination-mobile.jpg"), cover);
//     }

// }